flake8 # Библиотека для проверки code-style
flake8-quotes # Плагин для библиотеки flake8
flake8-import-order # Плагин для библиотеки flake8
flake8-bugbear # Плагин для библиотеки flake8
flake8_docstrings # Плагин для библиотеки flake8
pytest==7.3.0 # Тестовый фреймворк
requests~=2.30.0